dist/
build/
node_modules/

.git/

.env
.env.test
.env.demo
.env.development.local
.env.test.local
.env.production.local
.env.local

.vscode/
.idea/
*.swp
*.swo

logs
yarn.lock
npm-debug.log
pnpm-lock.yaml
tmp/
.cache/
*.log
*.tmp

docker/
docker-compose.yml
